.custom-button {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: #4c84ff;
    -fx-text-fill: white;
}
.background_sideBar{
    -fx-background-color: #ffffff;
}

.menuButton {
     -fx-font-weight: bold;
     -fx-font-family: Arial;
     -fx-font-size: 18;
}

.toggleButton {
     -fx-font-weight: bold;
     -fx-font-family: Arial;
     -fx-font-size: 18;
}

.menuButton:hover {
    -fx-border-color: #0099ff;
    -fx-border-width: 0px 0px 3px 0px;
}